;
; Properties in this files will be used by the ant script build.xml to replace
; values for the production environment in the app/conf directory.
;

;
; Database Settings
;
db.params.host     = 
db.params.username = 
db.params.password = 
db.params.dbname   = 

;
; Auth settings
;
auth.identities.username1 = 
auth.identities.username1.openIdIdentity = 

;
; Google Analyics tracker id, leave empty if you dont have any analytics account
;
tracker.webPropertyId = 