body {
    background-color: #fff;
    color: #000;
    
}

h1 {
    font-size: 2em;
    margin: .3em 0;	
}
h2 {
    font-size: 1.7em;
    margin: .3em 0;   
}
h3 {
    font-size: 1.3em;
    margin: .3em 0;   
}


a {
    color: #000;	
}	

ul.lifestream {
    list-style: none;
}

.lifestream a {
    color: #363636;
    text-decoration: none;
}

.lifestream a:hover {
    color: #000;
}

.lifestream li {
    padding: 3px 23px;
    margin: 1px;
}

.lifestream li {
    background-image: url("/images/feed.png");
    background-position: 3px 3px;
    background-repeat: no-repeat;
}
	
.lifestream li.twitter {
	background-color: #7FFFD4;
    background-image: url("/images/twitter.png");
}

.lifestream li.lastfm {
	background-color: #FFB6C1;
    background-image: url("/images/lastfm.png");
}

.lifestream li.github {
    background-color: #E8E8E8;
    background-image: url("/images/github.png");
}

.lifestream li.delicious {
    background-color: #fff;
    background-image: url("/images/delicious.png");
}

.lifestream li.flickr {
    background-color: #FFE4E1;
    background-image: url("/images/flickr.png");
}

.lifestream li.photo {
    background-color: #fff;
    background-image: url("/images/photo.png");
}



.sidebar li {
    background-color: #fff !important;	
}

.since {
    font-size: 0.8em;
    color: #666;
}

div.pagination-control {
  font-size: .8em;
  text-align: center;
    padding: 10px;
}

div.pagination-control a {
    text-decoration: none;
}

div.pagination-control span.item {
    padding: 5px;
    border: 1px solid #DEDEDE;
}

div.pagination-control span.current {
    border: 1px solid #fff;
}